<nav class="nav-bar">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/reading' | relative_url }}">Reading</a>
    <a href="{{ '/photos' | relative_url }}">Photos</a>
    <a href="{{ '/posts' | relative_url }}">Posts</a>
    <img id="dark-mode-toggle" src="{{ '/assets/images/icons/moon.svg' | relative_url }}" onclick="darkModeToggle()"
        class="nav-bar">
</nav>
<nav class="nav-mobile">
    <img id="nav-icon" src="{{ '/assets/images/icons/menu-blk.svg' | relative_url }}" onclick="mobileDrop()"
        class="nav-button">
    <div id="nav-menu" class="drop-content">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/reading' | relative_url }}">Reading</a>
        <a href="{{ '/photos' | relative_url }}">Photos</a>
        <a href="{{ '/posts' | relative_url }}">Posts</a>
    </div>
    <img id="dark-mode-toggle-mobile" onclick="darkModeToggle()"
        src="{{ '/assets/images/icons/moon.svg' | relative_url }}" class="nav-mobile">
</nav>