<table style="background-color:rgba(0, 0, 0, 0); width: 100%;">
    <tbody>
        <tr>
            <td class="titles">La Florida</td>
            <td class="authors">Kevin Kokomoor</td>
            <td class="dates">09-01-2025</td>
            <td class="stars">★★★★</td>
        </tr>
        <tr>
            <td class="titles">
                <a class="titles-clip" data-book-name="meditations">
                    Meditations for Mortals
                </a>
            </td>
            <td class="authors">Oliver Burkeman</td>
            <td class="dates">04-27-2025</td>
            <td class="stars">★★★</td>
        </tr>
        <tr>
            <td class="titles">Careless People</td>
            <td class="authors">Sarah Wynn-Williams</td>
            <td class="dates">04-21-2025</td>
            <td class="stars">★★★★</td>
        </tr>
        <tr>
            <td class="titles">A Wizard of Earthsea</td>
            <td class="authors">Ursula K. Le Guin</td>
            <td class="dates">03-01-2025</td>
            <td class="stars">★★★★</td>
        </tr>
        <tr>
            <td class="titles">The Blue Machine: How the Ocean Shapes Our World</td>
            <td class="authors">Helen Czerski</td>
            <td class="dates">02-25-2025</td>
            <td class="stars">★★</td>
        </tr>
        <tr>
            <td class="titles">Project Hail Mary 🎧</td>
            <td class="authors">Andy Weir</td>
            <td class="dates">01-29-2025</td>
            <td class="stars">★★★</td>
        </tr>
        <tr>
            <td class="titles">Seven Myths of the Spanish Conquest</td>
            <td class="authors">Matthew Restall</td>
            <td class="dates">01-08-2025</td>
            <td class="stars">★★★★</td>
        </tr>
    </tbody>
</table>