<table style="background-color:rgba(0, 0, 0, 0); width: 100%;">
    <tbody>
        <tr>
            <td class="titles">Steve Jobs</td>
            <td class="authors">Walter Isaacson</td>
            <td class="dates">12-10-2024</td>
            <td class="stars">★★★★★</td>
        </tr>
        <tr>
            <td class="titles">The Invention of Nature</td>
            <td class="authors">Andrea Wulf</td>
            <td class="dates">09-12-2024</td>
            <td class="stars">★★★</td>
        </tr>
        <tr>
            <td class="titles">Astrophysics for People in a Hurry</td>
            <td class="authors">Neil deGrasse Tyson</td>
            <td class="dates">07-07-2024</td>
            <td class="stars">★★</td>
        </tr>
        <tr>
            <td class="titles">Blind Ambition: The White House Years</td>
            <td class="authors">John W. Dean</td>
            <td class="dates">06-11-2024</td>
            <td class="stars">★★★★</td>
        </tr>
        <tr>
            <td class="titles">Entangled Life</td>
            <td class="authors">Merlin Sheldrake</td>
            <td class="dates">05-14-2024</td>
            <td class="stars">★★★★</td>
        </tr>
        <tr>
            <td class="titles">The Lord of the Rings: The Return of the King</td>
            <td class="authors">J.R.R. Tolkien</td>
            <td class="dates">04-30-2024</td>
            <td class="stars">★★★★★</td>
        </tr>
        <tr>
            <td class="titles">The Lord of the Rings: The Two Towers</td>
            <td class="authors">J.R.R. Tolkien</td>
            <td class="dates">03-16-2024</td>
            <td class="stars">★★★★</td>
        </tr>
        <tr>
            <td class="titles">
                <a class="titles-clip" data-book-name="mortals">
                    Four Thousand Weeks: Time Management for Mortals
                </a>
            </td>
            <td class="authors">Oliver Burkeman</td>
            <td class="dates">03-06-2023</td>
            <td class="stars">★★★★★</td>
        </tr>
        <tr>
            <td class="titles">The Wayfinders</td>
            <td class="authors">Wade Davis</td>
            <td class="dates">02-09-2024</td>
            <td class="stars">★★★</td>
        </tr>
        <tr>
            <td class="titles">The Lord of the Rings: The Fellowship of the Ring</td>
            <td class="authors">J.R.R. Tolkien</td>
            <td class="dates">01-07-2024</td>
            <td class="stars">★★★★</td>
        </tr>
    </tbody>
</table>