<div class="work-item">
    <a href="https://mae.ufl.edu/research/facilities/autonomy-park/" target="_blank" class="work-exp-link">
        <img src="{{ '/assets/images/workxp/uf-logo.webp' | relative_url }}" class="work-exp-image"
            style="background-color:#2196f3;" loading="lazy">
    </a>
    <p class="work-exp-listing">
        <strong>University of Florida Autonomy Park</strong><br>Air Team Lead<br>
        <span>
            May 2024 - Present
        </span>
    </p>
</div>
<p class="bottom-gone-h4">
    Manages UF's autonomous robotic testbed, which includes a fleet of quadcopters and ground vehicles. Leads a team of
    5 students in developing and testing control algorithms for autonomous flight and navigation of air vehicles.
</p>

<div class="work-item">
    <a href="https://ufl.edu" target="_blank" class="work-exp-link">
        <img src="{{ '/assets/images/workxp/ncr-logo.webp' | relative_url }}" class="work-exp-image"
            style="background-color:#22884C;" loading="lazy">
    </a>
    <p class="work-exp-listing">
        <strong>Nonlinear Controls and Robotics Lab</strong><br>Graduate Research Assistant<br>
        <span>
            Aug 2022 - Present
        </span>
    </p>
</div>
<p class="bottom-gone-h4">
    Pursuing my PhD in Aerospace Engineering under the advisement of Dr. Warren Dixon. Expected graduation is May
    2027.
</p>

<div class="work-item">
    <a href="https://upinorbit.io" target="_blank" class="work-exp-link">
        <img src="{{ '/assets/images/workxp/orbit-logo.webp' | relative_url }}" class="work-exp-image"
            style="background-color:#9c27b0;" loading="lazy">
    </a>
    <p class="work-exp-listing">
        <strong>Orbit</strong><br>Co-Founder<br>
        <span>
            Mar 2021 - Aug 2022
        </span>
    </p>
</div>
<p class="bottom-gone-h4">
    Closed a M&A deal with Creatd, Inc. (Nasdaq CM: CRTD). Generated visual identity, web, and social media content
    in order to execute marketing and advertisement initiatives.
</p>

<div class="work-item">
    <a href="https://powerdesigninc.us/" target="_blank" class="work-exp-link">
        <img src="{{ '/assets/images/workxp/pdi-logo.webp' | relative_url }}" class="work-exp-image"
            style="background-color:#f44336;" loading="lazy">
    </a>
    <p class="work-exp-listing">
        <strong>Power Design, Inc.</strong><br>Mechanical Engineering Intern<br>
        <span>
            Jun 2021 - Aug 2021
        </span>
    </p>
</div>
<p class="bottom-gone-h4">
    Worked alongside Plumbing Engineers and Associate Plumbing Designers to produce technical drawings in Revit for
    multi-family high rise, retail, and amenity spaces
</p>