/* PROFILE IMAGE */
.profile-header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile-header > div:first-child {
    flex-shrink: 0;
}

.profile-title h4 {
    font-weight: normal;
    margin-top: 0.25em;
}

.profile-title h1 {
    white-space: nowrap;
    margin-top: 0;
}

.profile-image{
	height: auto;
	border-radius: 50%;
}

.profile-container{
	position: relative;
	padding-bottom: 100%;
}

.sidebar-connect {
    display: none;
}
.sidebar-connect .footer-links {
    text-align: left;
}
.sidebar-connect .footer-links a {
    margin: 0 8px;
}
.sidebar-connect .footer-links a:first-child {
    margin-left: 0;
}

/* BIBLIOGRAPHY */
.bibliography {
	padding-left: 2em;
  }
  
  .bibliography li {
	// padding-left: 1em;
	// text-indent: -1em;
	margin-bottom: 0.5em;
	font-size: 0.9rem;
  }

/* WORK EXPERIENCE */
.work-item{
	display: flex;
	justify-content: left;
	align-items: center;
}

.work-exp-image{
	vertical-align: middle;
	transition: transform .2s;
}
	.work-exp-image:hover{
		transform: scale(1.05);
		cursor: pointer;
	}

.work-exp-desc{
	vertical-align: middle;
}

.work-exp-details {
    display: inline-block;
    margin-top: 0.5em;
    line-height: 1.3;
}

span{
	background-color: #e0e0e0;
}
	.dark span{
		background-color: #757575;
	}

.work-exp-link{
	color: #ffffff;
}

.work-exp-link:hover{
	color: #ffffff;
}

.dark .work-exp-link{
	color: #222;
}

.dark .work-exp-link:hover{
	color: #222;
}

/* MOBILE */
@media (min-width: 0px){
	/* PROFILE IMAGE */
	.profile-image{
		width: 90px;
	}

	.profile-header {
		padding-top: 1.5em;
	}

	/* WORK EXPERIENCE */
	.work-item{
		margin-bottom: 1.5em;
	}

	.work-exp-image{
		width: 3em;
		border-radius: 7%;
	}

	.work-exp-listing{
		margin-left: 0.6em;
	}
}

/* TABLET */
@media (min-width: 479px){
	/* PROFILE IMAGE */
	.profile-image{
		width: 130px;
	}
}

/* LAPTOP */
@media (min-width: 767px){
	/* PROFILE IMAGE */
	.profile-image{
		width: 130px;
	}
}

/* DESKTOP */
@media (min-width: 1023px){

}

/* --- DESKTOP LAYOUT ADJUSTMENTS --- */
@media (min-width: 479px) {

  /* 1. Fix for consistent sticky header padding on desktop */
  body {
    padding-top: 0;
  }
  main {
    padding-top: 0.5em;
  }

  /* 2. Persistent Header styling */
  body > header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    
    background-color: white;
    
    /* Bottom-only box shadow */
    box-shadow: 0 4px 5px -2px rgba(0,0,0,0.1);

    /* Vertical padding for the header */
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .dark body > header {
    background-color: #222;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,0.5);
  }
}

/* Homepage Two-Column Layout */
@media (min-width: 767px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust ratio as needed */
    gap: 3em; /* Space between columns */
    align-items: stretch;
  }

  .sidebar-sticky-content {
    position: -webkit-sticky;
    position: sticky;
    top: 4em;
  }

  .sidebar-connect {
      display: block;
  }

  body.homepage footer {
      display: none;
  }

  /* Override the default max-width for the homepage */
  body {
    max-width: 1100px;
  }
}

@media (max-width: 478px) {
  .profile-title h4 {
    font-size: 0.9rem;
  }
}