/* DROPDOWN */
details > summary h3 {
  // Make the text unselectable
  -webkit-user-select: none; 
  -ms-user-select: none;  
  user-select: none;        
}

/* READING ENTRIES TABLE */
table{
	text-align: left;
}

table td{
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

dialog{
	font-family: Arial, sans-serif;
	margin: auto;
	padding: 1em;
	max-width: 85%;
	max-height: 75%;
	text-align: left;
	position: fixed;
}

dialog[open] {
	animation: dialog-open 125ms ease-out;
}

@keyframes dialog-open {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

dialog::backdrop {
	animation: backdrop-open 125ms ease-out;
}

@keyframes backdrop-open {
	from { opacity: 0; }
	to { opacity: 1; }
}

button{
	border: none;
	background: none;
	width: fit-content;
}

button:focus {
	outline: none;
}

td a{
	color: black;
}
	td a:hover{
		color: #F2A900;
	}
	.dark td a{
		color: #f9f9f9;
	}
		.dark td a:hover{
			color: #22884C;
		}

.clippings-header{
	display: flex;
	max-width: 80%;
	align-items: center;
}

.no-margin{
	margin-top: 0px;
   -webkit-margin-before: 0px;
   /* -webkit-margin-after: 0px; */
}

.no-bottom{
	margin-bottom: 0px;
}

.clippings-title{
	display: inline-block;
}

dialog .button-holder{
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

dialog .close {
	background: none;
	color: #999;
	font-size: 28px;
	font-weight: 300;
	line-height: 1;
	padding: 2px 6px;
	cursor: pointer;
	position: static;
}
	dialog .close:hover, dialog .close:focus {
		color: #222;
		text-decoration: none;
	}
	.dark dialog .close:hover, .dark dialog .close:focus {
		color: white;
	}

table td{
	display: flex;
	padding: 0px 0px;
	margin-left:-2px;
	max-width: 500px;
}

.stars{
	padding: 0px 0px;
	margin-top: -2px;
	margin-bottom: 10px;
}

.titles{
	padding: 0px 0px;
	font-weight: bold;
}

.titles-clip{
	text-decoration: underline;
}

.titles-clip:hover{
	cursor: pointer;
}

.clippings{
	font-style: italic;
}

/* TABLET */
@media (min-width: 479px){
	table td{
		display: table-cell;
		padding: 5px 10px;
		max-width: 290px;
	}

	table th{
		text-align: left;
	}

	.stars{
		padding:0px 5px;
		width: 15%;
	}
	
	.titles{
		padding:5px 0px;
		margin-left: -2px;
		font-weight: normal;
		width: 35%;
	}

	.authors{
		width: 30%;
	}

	.dates{
		width: 20%;
	}
}

/* LAPTOP */
@media (min-width: 767px){
	dialog{
		max-width: 553px;
	}
}
