/* READING ENTRIES TABLE */
table{
	text-align: left;
}

table td{
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

dialog{
	font-family: Arial, sans-serif;
	margin: auto;
	padding:0.5em;
	max-width: 85%;
	max-height: 75%;
	text-align: left;
}

button{
	border: none;
	background: none;
	width: fit-content;
}

button:focus {
	outline: none;
}

td a{
	color: black;
}
	td a:hover{
		color: #F2A900;
	}
	.dark td a{
		color: #f9f9f9;
	}
		.dark td a:hover{
			color: #22884C;
		}

.clippings-header{
	display: flex;
	max-width: 80%;
	align-items: center;
}

.no-margin{
	margin-top: 0px;
   -webkit-margin-before: 0px;
   -webkit-margin-after: 0px;
}

.clippings-title{
	display: inline-block;
}

.button-holder{
	position: absolute;
	top: 0;
	right: 0;
}

.close {
	background-color: white;
	color: #999;
	font-size: 35px;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 6px;
}
	.close:hover, .close:focus {
		color: #222;
		text-decoration: none;
		cursor: pointer;
	}
	.dark .close{
		background-color: #222;
	}
	.dark .close:hover, .dark .close:focus {
		color: white;
	}

/* MOBILE */
@media (min-width: 0px){
	table{
		font-size:18px;
	}
		table td{
			display: flex;
			padding: 0px 0px;
			margin-left:-2px;
			max-width: 500px;
		}

	.stars{
		padding: 0px 0px;
		margin-top: -2px;
		margin-bottom: 10px;
	}

	.titles{
		padding: 0px 0px;
		font-weight: bold;
	}

	.titles-clip{
		text-decoration: underline;
	}
	
	.titles-clip:hover{
		cursor: pointer;
	}

	.clippings{
		font-style: italic;
	}
}

/* TABLET */
@media (min-width: 479px){
	table td{
		display: table-cell;
		padding: 5px 10px;
		max-width: 290px;
	}

	table th{
		text-align: left;
	}

	.stars{
		padding:0px 5px;
		width: 15%;
	}
	
	.titles{
		padding:5px 0px;
		margin-left: -2px;
		font-weight: normal;
		width: 35%;
	}

	.authors{
		width: 30%;
	}

	.dates{
		width: 20%;
	}
}

/* LAPTOP */
@media (min-width: 767px){
	dialog{
		max-width: 553px;
	}
}

/* DESKTOP */
@media (min-width: 1023px){

}