/* TABLE */
table{
	text-align: left;
}

table td{
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

.image-container{
	max-width: 650px;
	margin: 0 auto;
	display: grid;
	display: grid;
	justify-items: center;
}

.blog-image{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
	.large{
		width: 75%;
	}
	.med{
		width: 65%;
	}
	.small{
		width: 50%;
	}

.img-caption{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;	
}

/* MOBILE */
@media (min-width: 0px){
	table{
		font-size:18px;
	}
		table td{
			display: flex;
			padding: 0px 0px;
			margin-left:-2px;
			max-width: 500px;
		}
}

/* TABLET */
@media (min-width: 479px){
	table td{
		display: table-cell;
		padding: 5px 10px;
		max-width: 290px;
	}

	table th{
		text-align: left;
	}

	.writing-title{
		color: black;
		text-decoration: none;
	}

	.writing-title:hover{
		text-decoration: underline;
	}
}

/* LAPTOP */
@media (min-width: 767px){

}

/* DESKTOP */
@media (min-width: 1023px){

}