<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <script src="{{ '/assets/js/dark.js' | relative_url }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
        href="{{ '/feed.xml' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🚀</text></svg>">
    <script src="/assets/js/activate-photoswipe.js" type="module"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>


<body {% if page.title=="Home" %}class="homepage" {% endif %}>
    <header>
        {% include navigation.html %}
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        {% if page.display_footer %}{% include footer.html %}{% endif %}
    </footer>
    <script src="{{ '/assets/js/global.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bib.js' | relative_url }}"></script>
</body>

</html>