---
layout: default
---

<article class="microblog-post" style="margin-top: 20px;">
  <header>
    <h2>{{ page.title }}</h2>
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %d, %Y at %I:%M %p" }}
    </time>
  </header>
  
  {%- comment -%}
    The 'photoswipe-gallery' class is on the main content div.
    The 'content' variable now contains all text and PhotoSwipe-enabled images, correctly grouped.
    The old image loop at the bottom has been REMOVED.
  {%- endcomment -%}
  <div class="microblog-content photoswipe-gallery">
    {{ content }}
  </div>

</article>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>